# Backend dependencies
/backend/node_modules/

/backend/.env

/backend/logs/server.log

# Frontend dependencies 
/frontend/node_modules/

/frontend/.env

# System files
.DS_Store

# Editor folders
.vscode/
.idea/



